
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(home.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 8%;
    box-sizing: border-box;
}
h1{
    color: #fff;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: #fff;
    font-size: 25px;

}